#testimonial{
        background-color: #EFEFEF;
        border: 1px solid #EFEFEF;
        -moz-background-clip:border;
        -moz-background-inline-policy:continuous;
        -moz-background-origin:padding;
        -moz-border-radius: 10px;	
		color:#999999;
		margin-left: 40px;
		margin-top: 30px;
        padding: 2px;
		font: 12px Georgia, "Times New Roman", Times, serif;
		letter-spacing: .1em;
		line-height: 1.5em;
        display: inline-block;
        -moz-box-shadow: 0 0 4px #AAAAAA;
}

.cnt{
 -moz-border-radius:5px;	
color:#666666; 
padding: 0px 10px 10px 10px;
width: 500px;
display: block;
font-style: italic;
background-color: #FFF;
}

#author{ 
background: #FFFFFF url(images/PostQuote.png) no-repeat left top;
color: #3d3d3d; 
font-weight: 600;
/*padding: 25px 15px 5px;
width:50px;*/
height: 30px;
padding: 8px 0px 0px 35px;
display: block;

}
#author a:visited, #author a{
text-decoration: none;
font-weight: normal;
}
.right {float: right}
.left {float: left}

.testimonials-avatar img{
	z-index:4;
	position: absolute;
	opacity: 0.9999;
	padding:3px;	
	border: 1px solid #DADADA;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 4px #AAAAAA;
	float: right;
}

/*#testimonials_widget{
	position: relative!important;
	height: 220px;
}*/
.art-blockcontent-body #testimonials_widget li { background-image: none}
#testimonials_widget li{
	list-style: url(images/PostQuote.png);
	list-style-position:inside;
	margin-left: -15px;
	padding: 10px 10px;
	/*border-bottom: 1px solid #DADAD9;
	background: #F5F5E5;*/
	margin-bottom: 5px;
	
}

#author-dtls{
	color: #777777;
	font-weight: 600;
}
